* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: none;
}

#container.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    padding: 20px;
}

.costo-biglietto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.costo-biglietto-scontato {
    display: flex;
    justify-content: center;
    align-items: center;
}
